// Navigation Styles here
.nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    border-bottom: 2px dashed silver;
    h1 {
        padding-left: 21.5%;
        padding-top: 3%;
        padding-bottom: 3%;
    }//end of h1
    .links {
        width: 50%;
        padding-right: 25%;
        padding-top: 4%;
        display: flex;
        justify-content: space-between;
        a {
            font-size: 1.8rem;
            text-decoration: none;
            color: @font-color;
        }
    }
}

